Description=Control bucklesprink key
After=network.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 2
ExecStart=/usr/bin/buckle
Restart=on-failure

[Install]
WantedBy=default.target
