[Unit]
Description=Configure Cannelloni at %I
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/cannelloni -I %I -R 10.147.20.209 -r 20000 -l 20000
ExecReload=/usr/bin/kill -SIGUSR1 $MAINPID
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
