Description=Control spotifyd deamon
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/dunst dunst -config %h/.config/dunst/dunstrc
Restart=on-failure

[Install]
WantedBy=default.target
