Description=Control spotifyd deamon
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/picom --config %h/.config/compton/compton
Restart=always
# Other restart options: always, on-abort, etc
RestartSec=5

[Install]
WantedBy=default.target
