[Unit]
Description=Remote desktop service (TurboVNC)
After=network.target

[Service]
Type=forking
ExecStartPre=/opt/TurboVNC/bin/vncserver -kill :%i > /dev/null 2>&1
ExecStart=/opt/TurboVNC/bin/vncserver :%i
ExecStop=/opt/TurboVNC/bin/vncserver -kill :%i

[Install]
WantedBy=default.target
