[Unit]
Description=Remote desktop service (VNC)
After=network.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 2
ExecStart=/usr/bin/vncserver :%i -xstartup /home/%u/.vnc/xstartup -localhost no
ExecStop=/usr/bin/vncserver -kill :%i

[Install]
WantedBy=default.target
