Description=Control spotifyd deamon
After=network.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 2
ExecStart=/home/bresilla/dots/.sbin/loopwall /home/bresilla/.wallpaper 300
Restart=on-failure
# Other restart options: always, on-abort, etc

[Install]
WantedBy=default.target
