Description=Control spotifyd deamon
After=network.target

[Service]
Type=simple
ExecStart=/bin/sh -c 'tail -f /home/bresilla/.local/share/fifo/xob | xob'
Restart=on-failure
# Other restart options: always, on-abort, etc

[Install]
WantedBy=default.target
