#!/bin/bash
##SUDO
alias virsh="doas virsh"
alias virt-viewer="doas virt-viewer"
alias wgi="doas wg-quick"
# alias chroot="doas schroot"
alias mount="doas mount"
alias umount="doas umount"
alias nmap="doas nmap"
alias lxc="doas lxc"
alias hotspot="doas hotspot"
alias bandwhich="doas bandwhich"
alias ufw="doas ufw"
alias btrfs="doas btrfs"
alias tent="doas tent"
alias argz="xargs -0 | head -n -1"


##DEV
alias box='devbox'
alias dev='devenv'


##PACKAGE_MANAGER
alias pack='yay'
alias aly='nostromo'


##NETWORK
alias dnsinuse='nmcli dev show | grep IP4.DNS'
alias findip='doas arp-scan --localnet'
alias netspeed='wget --output-document=/dev/null http://speedtest.wdc01.softlayer.com/downloads/test500.zip'
alias portmon='doas lsof -Pnl -i4'
alias openports='doas netstat -tulpn'
alias zero='doas zerotier-cli'
alias ssm='manssh'
alias blue='bluetoothctl'
alias ip="ip -c"

##ALTERNATIVES
alias vim='nvim'
#alias hx='helix'
alias mut='neomutt'

##SYSTEM
alias hibernate="systemctl hibernate"
alias cp="rsync -uahP --inplace --no-whole-file --info=progress2"
alias rm='rm -rf'
alias del='rip'
alias cat='bat'
alias ls='eza -F'
alias ll='eza -liSHF --header --git --group-directories-first --tree -L1'
alias la='eza -laiSHF --header --git --group-directories-first --tree -L1'
alias lt='eza -liSHF --header --git --tree -L3'
alias lu='dutree -d1 --usage -x .git -x .direnv'
alias df='dfc -dTmw -p -/dev/loop,tmp,dev,run,one'
alias lsblk='lsblk --output NAME,SIZE,FSUSE%,MODEL,TRAN,TYPE,FSTYPE,UUID,LABEL,MOUNTPOINT,STATE,HOTPLUG'
alias lsmnt='lsblk --output LABEL,NAME,SIZE,FSTYPE,MOUNTPOINTS'
alias vols='doas lvm pvs && echo && doas lvm vgs && echo && doas lvm lvs'
alias dd='dd status=progress'
alias home='home-manager'
alias clip='xclip -sel clip'
alias suspend='systemctl suspend'
alias eject='udisksctl power-off -b'
alias nvmecheck="diff -y <(doas nvme smart-log /dev/nvme0n1) <(doas nvme smart-log /dev/nvme1n1)"

##PROGRAMS
alias a='atool -D -x'
alias x='xplr'
alias e="nvim"
alias nums="dtool"
alias mcon="mconnectctl"
alias aks="ata"


alias ari='aria2c'
alias inxi='prime inxi -Fxxxz'
alias note='dnote'
alias font='fc-query'
alias pomo='pomo -p /home/bresilla/.config/pomo'
alias git='hub'
alias pro='proji'
alias lines='tokei'
alias search="rg"

##ROBO
alias ros="ros2"

##FILES
alias own='doas chown -R $USER:$USER'
alias exe='chmod u+x'
alias dxe='chmod u-x'

##OTHER
alias open='nohup mimeo $1 > /dev/null 2>&1 &!'
alias rn='renamer'
alias rp='ruplacer'
alias tk='tokei'
alias mn='tldr'
alias calc='eva'
alias fq='fselect'
alias disco='diskonaut'
alias band='bandwhich'
alias tap='teip'
alias get='doas sysget'
alias lzd='lazydocker'
alias lzg='lazygit'
alias crux='horcrux'
alias pass='gopass'
alias todo='taskwarrior-tui'
alias forge='conda'
alias hosty="doas locdev"

##MEDIA
alias color='pastel format hex'	
alias cal='cal -ymw'
