tidyup
use nix
local vimrc

export ENVNAME='C++'
export VCPKG_ROOT=$(git rev-parse --show-toplevel)/vendor/vcpkg
export VCPKG_DOWNLOADS=$(git rev-parse --show-toplevel)/vendor/vcpkg/downloads

# export_alias vcpkg '~/.bin/vcpkg --vcpkg-root $(git rev-parse --show-toplevel)/vendor/vcpkg/ $@'

export_alias compile '[[ $(ls -A build/) ]] && rm -rf build/*; cmake -H. -Bbuild -DCMAKE_EXPORT_COMPILE_COMMANDS=1 -DCMAKE_BUILD_TYPE=${1:-FastDebug} ${2:-""} 2>&1 | bat'
export_alias build 'cmake --build build/ --target'
export_alias karate 'compile ${1:-FastDebug} && cmake --build build/ --target'
export_alias kungfu 'compile ${1:-FastDebug} -GNinja && ninja -C build'
export_alias run 'build && clear && $(git rev-parse --show-toplevel)/build/bin/./$(basename $PWD)'
